body {
    margin: 0;
    overflow: hidden;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#cookie {
    width: 200px;
    height: 200px;
}
#counter, #powerup, #powerup2, #stats {
    font-size: 24px;
    margin-top: 20px;
}
