/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

/* Estilos de secciones */
section {
    padding: 100px;
    text-align: center;
}

#inicio {
    background: url('imagen_fondo.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
}

/* Otros estilos futuristas que desees agregar */
