/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

header {
    background-color: rgba(172, 160, 160, 0.7);
    padding: 20px;
    position: fixed;
    width: 100%;
    transition: background-color 0.5s;
}
#counter {
    color: white; /* Cambia el color del texto a blanco */
}
#powerup,
#powerup2,
#stats {
    color: white; /* Cambia el color del texto a blanco para estos elementos también */
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.5s;
}

/* Estilos de secciones */
section {
    padding: 100px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}
/*
#inicio {
    background: url('imagen_fondo.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.5s;
}
*/
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 48px;
}

#articulo {
    padding: 100px;
    color: #fff;
}
.redes-sociales a img {
    width: 30px; /* Ajusta el tamaño según tus preferencias */
    height: 30px; /* Ajusta el tamaño según tus preferencias */
}

/* Efectos de transición */
header:hover, nav a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #00aaff;
}

section:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: #00aaff;
}
